.imgContainer {
  display: flex;
  flex-direction: row;
  background-color: rgb(22, 22, 22);
  margin-top: 4%;
}

.profImg {
  width: 16%;
  border-radius: 15px;
  margin-top: 4%;
  margin-bottom: 6%;
  margin-left: 3%;
}

.pageBreak {
  border-bottom: 0.5px;
  border-color: palevioletred;
  border-style: solid;
  width: 15%;
  margin-bottom: 1%;
}

#abt {
  color: white;
  margin-left: 2%;
  margin-top: 4%;
}

.bio{
  font-size: medium;
  font-weight: bold;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
}
