.footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#github {
  scale: 10%;
  display: flex;
  justify-content: center;
  width: 5vw;
}

#linkedin {
  scale: 11%;
  display: flex;
  justify-content: center;
  width: 5vw;
}

#stackoverflow {
  scale: 16%;
  display: flex;
  justify-content: center;
  width: 5vw;
}

#stackoverflow :hover {
  scale: 115%;
}

#github :hover {
  scale: 115%;
}

#linkedin :hover {
  scale: 115%;
}