.nav-tabs {
  background-image: linear-gradient(white, #fafafa);
  height: 10vh;
}

.nav-tabs a {
  color: rgb(38, 42, 45, 1);
  font-size: 1.3rem;
  text-decoration: none;
  margin-top: 1vh;
  margin-right: 3vw;
  line-height: 3;
}

.header-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(white, #fafafa);
  height: 10vh;
  width: 100vw;
  /* position: fixed; */
  /* z-index: 3; */
}

.header-text {
  margin-top: 2vh;
  margin-left: 3vw;
}