.nav-tabs {
  background-image: linear-gradient(white, #fafafa);
  height: 10vh;
}

.nav-tabs a {
  color: rgb(38, 42, 45, 1);
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
}

.header-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(white, #fafafa);
  height: 10vh;
}
