.cardBtn {
  display: flex;
  background-color: rgb(38, 42, 45, 1);
  color: white;
  height: fit-content;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  justify-content: center;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
}

.cardBtn:hover {
  background-color: rgb(81, 80, 80);
  color: white;
}

.projCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
}

.cardImg {
  width: 350px;
  height: 300px;
  opacity: 0.9;
  filter: grayscale(0.3);
  object-fit: cover;
}

.cardRight {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: #fafafa;
  justify-content: space-between;
  border-radius: 0px 15px 15px 0px;
}

.projTitle {
  display: flex;
  justify-content: center;
  padding-top: 1vw;
  padding-left: 1vw;
}

.projBtns {
  display: flex;
  flex-direction: column;
}

.cardLeft {
  display: flex;
}

#cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.techDrop {
  padding-right: 1vw;
}

.dropBtn {
  background-color: rgb(81, 80, 80);
  border-color: #fafafa;
}

.projContainer {
  background-color: rgb(22, 22, 22);
  padding-bottom: 3vh;
}

.desc {
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: justify;
}
