.footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#github {
  scale: 15%;
  display: flex;
  justify-content: center;
}

#linkedin {
  scale: 15%;
  display: flex;
  justify-content: center;
}

#stackoverflow {
  scale: 20%;
  display: flex;
  justify-content: center;
}